In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\andre\anaconda3\lib\site-packages (4.0.0-unsupported)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\andre\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\andre\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\andre\anaconda3\lib\site-packages)
WARNING: Error parsing requirements for google-pasta: [Errno 2] No such file or directory: 'c:\\users\\andre\\anaconda3\\lib\\site-packages\\google_pasta-0.2.0.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -atplotlib (c:\users\andre\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\andre\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\andre\anaconda3\lib\site-packages)

In [11]:
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=AdventureWorks2019;Trusted_Connection=yes')

In [8]:
import pyodbc
conn2 = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=divergencesqldsi202110.database.windows.net;DATABASE=test;UID=dsi202110;PWD=2021?10!DSI')

In [12]:
import pandas
sql = "SELECT * from [Person].[Person]"
data = pandas.read_sql(sql,conn)
data

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate,jsoninfo
0,1,EM,False,None,Ken,J,SÃ¡nchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2009-01-07,"{ \r\n ""info"":{ \r\n ""type"":1, ..."
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2008-01-24,None
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2007-11-04,"{ \r\n ""info"":{ \r\n ""type"":1, ..."
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2007-11-28,None
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2007-12-30,"{ \r\n ""info"":{ \r\n ""type"":1, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,IN,False,None,Crystal,None,Guo,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19,"{ \r\n ""info"":{ \r\n ""type"":1, ..."
19968,20774,IN,False,None,Isabella,F,Richardson,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29,None
19969,20775,IN,False,None,Crystal,S,He,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12,"{ \r\n ""info"":{ \r\n ""type"":1, ..."
19970,20776,IN,False,None,Crystal,None,Zheng,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14,None
19971,20777,IN,False,None,Crystal,None,Hu,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16,"{ \r\n ""info"":{ \r\n ""type"":1, ..."

In [9]:
import pandas
sql = "SELECT * from [dbo].[titanic2022]"
data = pandas.read_sql(sql,conn2)
data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250000,None,S
1,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.283302,C85,C
2,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925000,None,S
3,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.099998,C123,S
4,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050000,None,S
...,...,...,...,...,...,...,...,...,...,...,...
886,False,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000000,None,S
887,True,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000000,B42,S
888,False,3,"Johnston, Miss. Catherine Helen Carrie""""",female,NaN,1,2,W./C. 6607,23.450001,None,S
889,True,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000000,C148,C
890,False,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750000,None,Q